
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #059669;
    --dark-color: #4B5563;
    --off-white: #F3F4F6;
    --blue-color: #60A5FA;
}

/* Containers */

.container {
    padding-left: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;

}

/* spaces */

.padding-md{
    padding-bottom: 3rem;
}

.padding-bt{
    padding-bottom: 3rem;
}

/* lists */

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link-active {
    font-weight: bold;
}


.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}


/* header */

.hero {
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark-color);
    font-size: 2rem;
    padding-top: 4rem;
    margin: auto;
    text-align: center;
    padding-inline-start: 0px;
}

/* section */

.section {
    padding: 2rem;
}
.section h3 {
    text-align: center;
}
.ow {
    background-color: var(--off-white);
}

.section p {
    margin-bottom: 2rem;
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-heading {
    font-weight: bold;
}

.footer ul{
    padding-top: 1rem;
    padding-inline-start: 0px;
}

/* blogs */
.showcase-list {
    padding-bottom: 9rem;
    text-align: center;
}

ul .blog-heading {
    text-decoration: none;
    color: var(--blue-color);
}

.endings {
    font-style: italic;
    text-align: center;
}

.footer .footer-end {
    padding: 0rem;
}

@media only screen and (max-width: 480px){
    .link-primary, .link-secondary{
        display: block;
    }

    .list-item-inline {
        display: block;
        margin: 1rem 0rem 2rem 0rem;
    }

}
    



    